@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="/logo.svg">
                    </a>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<style>

    .navbar{
        background-color: linear-gradient(to right, #006aff, #00e9a6);
    }
</style>